@charset "utf-8";
/* CSS Document */

header{
    background-image: url("images/skulls.jpg");
    background-size:contain;
    background-attachment:fixed;
}

.customHeight{
    height:40vh;
}
Body{
    background-image:url("images/dark_background.jpg");
    background-size:cover;
    background-attachment:fixed;
}

footer{
    background-color: #10031E;
}


