@charset "UTF-8";
/* CSS Document */

#masthead{
	background-color: #3F144F;
	background-image: 
}

#about{
/*	background-color: #7623A0;*/
    background-image: 
}

#footer{
	background-color: #40094D;
}